{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% block title%} | Fooditem {% endblock %}
{% block content %}

<div class="overflow-hidden bg-white min-h-min">
    <div class="flex justify-start gap-5 list-none ml-0  md:ml-7 w-full font-nova py-7 px-5">
      <li class="self-center hover:font-bold"><a href="{% url 'index' %}">Home</a></li>
      <li class="self-center hover:font-bold"><a href="{% url 'categories' %}">Categories</a></li>
      {% if categories %}
        {% for category in categories %}
          <li class="self-center hover:font-bold"><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
      {% endif %}
       
    </div> 

  {% if fooditems %}
    <div class="grid grid-cols-1 md:grid-cols-2 my-5 px-4">
        <div class=" grid justify-items-center items-center h-[500px]">
            <img class="w-[400px] h-[400px]" src="{{ fooditems.image.url }}" alt="">
        </div>
        <div class="bg-gray-600 gap-8 lg:gap-0 text-white grid p-7 rounded-xl shadow-2xl shadow-black">
            <div class="grid grid-cols-2 mb-3 items-center">
              <h3 class="font-nova text-2xl">{{ fooditems.name }}</h3>
              <form action="{% url 'like_fooditem' fooditems.id %}" method="post" class="justify-self-end">
                {% csrf_token %}
                <button type="submit">
                  <i class="fas fa-heart fa-lg justify-self-end cursor-pointer {% if user in fooditems.likes.all %}text-red-500{% else %}text-orange-400{% endif %}"></i>
                </button>
              </form>
            </div>
            <p class="font-fjord font-medium">{{ fooditems.intro }}</p>
            <p class="font-fjord">{{ fooditems.description }}</p>
            <div class="font-fjord font-semibold flex gap-4">
              <h3>Price</h3>
              {% if fooditems.off_price %}
                <h3 class="font-fjord line-through text-gray-500">&#8358;{{ fooditems.price|intcomma }}</h3>
              {% else %}
                <h3 class="font-fjord font-semibold text-orange-500">&#8358;{{ fooditems.price|intcomma }}</h3>
              {% endif %}
              {% if fooditems.off_price %}
                <h3 class="font-fjord font-semibold text-orange-500">&#8358; {{ fooditems.off_price|intcomma }}</h3>                        
              {% endif %}
            </div>
            <hr class="orange justify-self-start border-2 w-3/4 border-orange-300">
            <form>
              {% if fooditems.option1 %}
                <h3 class="mx-3 font-fjord font-meduim text-xl">Build Your Perfect Meal</h3><br>
              {% else %}
                <h3 class="hidden mx-3 font-fjord font-meduim text-xl">Build Your Perfect Meal</h3><br>
              {% endif %}
              {% for option in fooditems.get_options %}
                {% if option %}
                  <label class="mx-3 font-fjord flex text-center gap-4 my-3">
                    <input type="checkbox" name="{{ option }}" value="{{ option }}" class="text-orange-500">
                    {{ option }}
                  </label>
                {% endif %}
              {% endfor %}
                
              
                <div class="flex gap-4 justify-center text-center items-center my-8">
                  <a class="p-2 bg-orange-500 hover:bg-orange-700 rounded-2xl w-32 text-white font-fjord shadow-2xl" href="{% url 'cart_add' fooditems.id %}">Add To Cart</a>
                  <a class="font-fjord hover:text-orange-500 hover:font-semibold" href="{% url 'cart' %}">View Cart....</a>
                </div>
              </form>
        </div>
    </div>
  {% endif %}


    

        <!-- Reviews Slider -->
    <div class="p-6 mt-32 mb-10 mx-0 md:mx-7 bg-gray-500 rounded-lg text-white">
      <div class="font-nova flex justify-center items-center mb-20">
        <h3 class="font-semibold text-[30px] md:text-[40px]">Customers Reviews</h3>
      </div>
      <div class="swiper foodSwiper">
        <div class="swiper-wrapper">
          {% if reviews %}
            {% for review in reviews %}
              <div class="swiper-slide flex flex-col items-center text-center">
                <div class="mb-8 grid justify-items-center">
                  {% if review.rating == 1 %}
                    <img class="w-48 h-10" src="{% static 'img/1star.png' %}" alt="">
                  {% elif review.rating == 2  %}
                      <img class="w-48 h-10" src="{% static 'img/2stars.png' %}" alt="">
                  {% elif review.rating == 3  %}
                      <img class="w-48 h-10" src="{% static 'img/3stars.png' %}" alt="">
                  {% elif review.rating == 4  %}
                      <img class="w-48 h-10" src="{% static 'img/4stars.png' %}" alt="">
                  {% elif review.rating == 5  %}
                      <img class="w-48 h-10" src="{% static 'img/5stars.png' %}" alt="">
                  {% endif %}
                </div>
                <div class="grid grid-cols-[1fr_6fr_1fr] md:grid-cols-[1fr_4fr_1fr] p-6">
                  <i class="fas fa-quote-left fa-lg justify-self-end" style="color: #ffa500;"></i>
                  <h3 class="text-[16px] md:text-xl font-fjord">
                    {{ review.comment}}
                  </h3>
                  <i class="fas fa-quote-right fa-lg self-end justify-self-start" style="color: #ffa500;"></i>
                </div>
                <p class="mt-4 mb-10 font-fjord">{{ review.customer.firstname }}   {{ review.customer.lastname }}</p>
              </div>
            {% endfor %}
          {% else %}
            <div class="flex mb-20">
              <p class="text-[16px] md:text-xl font-fjord">No reviews available at the moment.</p>
            </div>
          {% endif %}
          
        </div> 
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      
      </div>
    </div>
        
</div>

{% endblock content %}